form{
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 140, 246);
    border: outset;
    border-radius: 15px;
    width: 250px;
    padding: 5%;
    gap: 20px;
    font-family: Arial,sans-serif;
    color: rgb(255, 255, 255);
}
.titulo{
    font-size: 30px;
    font-weight: bold;
}
.boton{
    text-align: center;
}
button{
    border: none;
    border-radius: 10px;
    background-color: greenyellow;
    color: rgb(19, 140, 246);
    padding: 8px 30px;
}
input{
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: white;
    background-color: rgb(19, 140, 246);
    &:focus {
        outline: none;
    }
}