.img3.hor {
    display: flex;
    height: 300px;
    width: 200px;
    border: 2px solid black;
    flex-direction: row;
}
.img3.ver {
    display: flex;
    height: 300px;
    width: 200px;
    border: 2px solid black;
    flex-direction: column;
}